---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge-services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:06:30.111134115Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T10:06:30.111134115Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.925291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:06:30.111134Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","name":"my-edge-services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T10:06:30.111134Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.599708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:06:30.307230610Z","id":"c386f98a-705c-432d-aa74-a18f5caa96e6","mode":"enable","paranoia_level":3,"pipeline_id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","updated_at":"2026-02-17T10:06:30.307230610Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.030625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/c386f98a-705c-432d-aa74-a18f5caa96e6
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:06:30.307230Z","id":"c386f98a-705c-432d-aa74-a18f5caa96e6","mode":"enable","paranoia_level":3,"pipeline_id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","updated_at":"2026-02-17T10:06:30.307230Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.635ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 845f6d32-9b64-4acb-ac96-971e7d76f7da
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100629Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-basic-route
            X-Amz-Request-Id:
                - txg592a6f3334ec4f058a78-0069943da6
        status: 200 OK
        code: 200
        duration: 4.55639025s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tagging>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2b7a3ba3-9b92-444d-a94d-1aef71d912f1
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Y9NeVA==
            X-Amz-Content-Sha256:
                - d68cba1a39d89eb72e49b2e5b04058846b60e88e6e32eae42901c4f57a4727a8
            X-Amz-Date:
                - 20260217T100634Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?tagging=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg49b3e7450c3f46eda975-0069943daa
        status: 200 OK
        code: 200
        duration: 186.012375ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 572acf32-6b56-41a5-8c4e-5085fbf76998
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100634Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg07a570e7939d44cb80f1-0069943daa
        status: 200 OK
        code: 200
        duration: 224.873583ms
[...]
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 84e4e3b9-13cd-4153-87f3-b21cc2b7e921
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100634Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd0dc53572ee84e9ebc1c-0069943dab
        status: 200 OK
        code: 200
        duration: 97.57975ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2e04ad9f-2021-4486-bdd8-585abdb6eacf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100635Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd4b79a8f586c4861b0c6-0069943dab</RequestId><HostId>txgd4b79a8f586c4861b0c6-0069943dab</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd4b79a8f586c4861b0c6-0069943dab
        status: 404 Not Found
        code: 404
        duration: 110.305917ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 92814a40-c416-4abd-acaa-5e4f9ec9a9a5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100635Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-basic-route</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8c9820e0782a4fa7b39a-0069943dab
        status: 200 OK
        code: 200
        duration: 84.430166ms
[...]
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ed3c49d9-a728-487f-a8d0-54b0c146eada
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100635Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg28617b2d7fcf462991c9-0069943dab</RequestId><HostId>txg28617b2d7fcf462991c9-0069943dab</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg28617b2d7fcf462991c9-0069943dab
        status: 404 Not Found
        code: 404
        duration: 59.583625ms
    - id: 13
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d1da2040-c692-4246-b8f2-b1445ce6d840
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100635Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg6b8a6e14ca1943f89399-0069943dab
        status: 200 OK
        code: 200
        duration: 323.973167ms
    - id: 14
      request:
        host: test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c1cf2c2b-6ae6-4302-bb57-248fa364f76a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260217T100635Z
        url: https://test-acc-scaleway-object-bucket-basic-route.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg9fdbd1badea446e0aec8-0069943dab</RequestId><HostId>txg9fdbd1badea446e0aec8-0069943dab</HostId><Resource>/test-acc-scaleway-object-bucket-basic-route</Resource><BucketName>test-acc-scaleway-object-bucket-basic-route</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9fdbd1badea446e0aec8-0069943dab
        status: 404 Not Found
        code: 404
        duration: 59.062916ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f/backend-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:06:36.316641747Z","id":"dd278007-4f5d-4408-ad3f-1e5ec4acad4e","pipeline_id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-02-17T10:06:36.316641747Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 509.347667ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/backend-stages/dd278007-4f5d-4408-ad3f-1e5ec4acad4e
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:06:36.316641Z","id":"dd278007-4f5d-4408-ad3f-1e5ec4acad4e","pipeline_id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","scaleway_s3":{"bucket_name":"test-acc-scaleway-object-bucket-basic-route","bucket_region":"fr-par","is_website":false},"updated_at":"2026-02-17T10:06:36.316641Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.814292ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"waf_stage_id":"c386f98a-705c-432d-aa74-a18f5caa96e6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f/route-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:06:36.483955273Z","id":"6b37ed15-0618-48d1-999d-ce0506c6ef06","pipeline_id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","updated_at":"2026-02-17T10:06:36.483955273Z","waf_stage_id":"c386f98a-705c-432d-aa74-a18f5caa96e6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.041709ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"route_rules":[{"rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}},"backend_stage_id":"dd278007-4f5d-4408-ad3f-1e5ec4acad4e"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/6b37ed15-0618-48d1-999d-ce0506c6ef06/route-rules
        method: PUT
      response:
        body: '{"route_rules":[{"backend_stage_id":"dd278007-4f5d-4408-ad3f-1e5ec4acad4e","position":1,"route_stage_id":"6b37ed15-0618-48d1-999d-ce0506c6ef06","rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.703542ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/6b37ed15-0618-48d1-999d-ce0506c6ef06
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:06:36.483955Z","id":"6b37ed15-0618-48d1-999d-ce0506c6ef06","pipeline_id":"29dfd45f-65bc-4f24-b2dc-6cf57fbbd19f","updated_at":"2026-02-17T10:06:36.660048Z","waf_stage_id":"c386f98a-705c-432d-aa74-a18f5caa96e6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.958709ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/route-stages/6b37ed15-0618-48d1-999d-ce0506c6ef06/route-rules
        method: GET
      response:
        body: '{"route_rules":[{"backend_stage_id":"dd278007-4f5d-4408-ad3f-1e5ec4acad4e","position":1,"route_stage_id":"6b37ed15-0618-48d1-999d-ce0506c6ef06","rule_http_match":{"method_filters":["get","post"],"path_filter":{"path_filter_type":"regex","value":".*"}}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.025333ms
[...]
