---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-17T09:54:59.035486504Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"2cb7ae0c-a4c0-4e2f-9782-3f46b96c15d9","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T09:54:59.035486504Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.12625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/2cb7ae0c-a4c0-4e2f-9782-3f46b96c15d9
        method: GET
      response:
        body: '{"created_at":"2026-02-17T09:54:59.035486Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"2cb7ae0c-a4c0-4e2f-9782-3f46b96c15d9","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T09:54:59.035486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.528583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fallback_ttl":"3600.000000000s","include_cookies":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/2cb7ae0c-a4c0-4e2f-9782-3f46b96c15d9/cache-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-17T09:54:59.218833995Z","fallback_ttl":"3600s","id":"a3d052f3-6341-4399-8502-c53fe4810587","include_cookies":false,"pipeline_id":"2cb7ae0c-a4c0-4e2f-9782-3f46b96c15d9","updated_at":"2026-02-17T09:54:59.218833995Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.121625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/cache-stages/a3d052f3-6341-4399-8502-c53fe4810587
        method: GET
      response:
        body: '{"created_at":"2026-02-17T09:54:59.218833Z","fallback_ttl":"3600s","id":"a3d052f3-6341-4399-8502-c53fe4810587","include_cookies":false,"pipeline_id":"2cb7ae0c-a4c0-4e2f-9782-3f46b96c15d9","updated_at":"2026-02-17T09:54:59.218833Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.148833ms
[...]
