---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-17T09:55:47.298340539Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"a475c4d7-321a-4bbf-a28b-43600dbc332a","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T09:55:47.298340539Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.557917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a475c4d7-321a-4bbf-a28b-43600dbc332a
        method: GET
      response:
        body: '{"created_at":"2026-02-17T09:55:47.298340Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"a475c4d7-321a-4bbf-a28b-43600dbc332a","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T09:55:47.298340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.400291ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"fqdns":["subodomain.example.fr"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/a475c4d7-321a-4bbf-a28b-43600dbc332a/dns-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-17T09:55:47.483965294Z","default_fqdn":"","fqdns":["subodomain.example.fr"],"id":"8c35da04-8a3b-4ce0-aaee-4817670c4b00","pipeline_id":"a475c4d7-321a-4bbf-a28b-43600dbc332a","type":"custom","updated_at":"2026-02-17T09:55:47.483965294Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.249041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/dns-stages/8c35da04-8a3b-4ce0-aaee-4817670c4b00
        method: GET
      response:
        body: '{"created_at":"2026-02-17T09:55:47.483965Z","default_fqdn":"","fqdns":["subodomain.example.fr"],"id":"8c35da04-8a3b-4ce0-aaee-4817670c4b00","pipeline_id":"a475c4d7-321a-4bbf-a28b-43600dbc332a","type":"custom","updated_at":"2026-02-17T09:55:47.483965Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.968ms
[...]
