---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:07:32.790127378Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0a632cfc-0897-4b57-903d-cc3613e60f77","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T10:07:32.790127378Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.420292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0a632cfc-0897-4b57-903d-cc3613e60f77
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:07:32.790127Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0a632cfc-0897-4b57-903d-cc3613e60f77","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T10:07:32.790127Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.408333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"mode":"enable","paranoia_level":3}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0a632cfc-0897-4b57-903d-cc3613e60f77/waf-stages
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:07:33.021559299Z","id":"1e64520c-2831-4f6e-b9df-b003b796e083","mode":"enable","paranoia_level":3,"pipeline_id":"0a632cfc-0897-4b57-903d-cc3613e60f77","updated_at":"2026-02-17T10:07:33.021559299Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.424916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/waf-stages/1e64520c-2831-4f6e-b9df-b003b796e083
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:07:33.021559Z","id":"1e64520c-2831-4f6e-b9df-b003b796e083","mode":"enable","paranoia_level":3,"pipeline_id":"0a632cfc-0897-4b57-903d-cc3613e60f77","updated_at":"2026-02-17T10:07:33.021559Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.489125ms
[...]
