---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"my-edge_services-pipeline","description":"pipeline description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines
        method: POST
      response:
        body: '{"created_at":"2026-02-17T10:07:08.057475751Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0fb613fd-8c1d-4b3b-990a-a69b28bdd93f","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T10:07:08.057475751Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.629208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0fb613fd-8c1d-4b3b-990a-a69b28bdd93f
        method: GET
      response:
        body: '{"created_at":"2026-02-17T10:07:08.057475Z","description":"pipeline description","errors":[{"code":"pipeline_missing_head_stage","message":"first (head) stage missing","severity":"critical","stage":"dns","type":"config"}],"id":"0fb613fd-8c1d-4b3b-990a-a69b28bdd93f","name":"my-edge_services-pipeline","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"warning","updated_at":"2026-02-17T10:07:08.057475Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.782834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"secrets":[],"managed_certificate":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/edge-services/v1beta1/pipelines/0fb613fd-8c1d-4b3b-990a-a69b28bdd93f/tls-stages
        method: POST
      response:
        body: '{"certificate_expires_at":null,"created_at":"2026-02-17T10:07:08.283389731Z","id":"1f1c51c0-434f-4c9a-ae6d-62e09f518adf","managed_certificate":true,"pipeline_id":"0fb613fd-8c1d-4b3b-990a-a69b28bdd93f","secrets":[],"updated_at":"2026-02-17T10:07:08.283389731Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.776042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/edge-services/v1beta1/tls-stages/1f1c51c0-434f-4c9a-ae6d-62e09f518adf
        method: GET
      response:
        body: '{"certificate_expires_at":null,"created_at":"2026-02-17T10:07:08.283389Z","id":"1f1c51c0-434f-4c9a-ae6d-62e09f518adf","managed_certificate":true,"pipeline_id":"0fb613fd-8c1d-4b3b-990a-a69b28bdd93f","secrets":[],"updated_at":"2026-02-17T10:07:08.283389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.822334ms
[...]
