---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"07111c38-80e3-44fc-940d-5e54e0a10828","ip_address":"195.154.70.98","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.200375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/07111c38-80e3-44fc-940d-5e54e0a10828
        method: GET
      response:
        body: '{"id":"07111c38-80e3-44fc-940d-5e54e0a10828","ip_address":"195.154.70.98","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.633792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"07111c38-80e3-44fc-940d-5e54e0a10828","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-23T14:46:28.801998194Z","description":"","frontend_count":0,"id":"deb02a49-e5b9-4c89-883b-e1202c860748","instances":[],"ip":[{"id":"07111c38-80e3-44fc-940d-5e54e0a10828","ip_address":"195.154.70.98","lb_id":"deb02a49-e5b9-4c89-883b-e1202c860748","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-23T14:46:28.801998194Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.333042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/deb02a49-e5b9-4c89-883b-e1202c860748
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-23T14:46:28.801998Z","description":"","frontend_count":0,"id":"deb02a49-e5b9-4c89-883b-e1202c860748","instances":[{"created_at":"2026-02-23T14:36:33.778388Z","id":"bcea00d5-bab3-48a5-8c53-2a1faeff6ab3","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-23T14:46:28.958756Z","zone":"fr-par-1"}],"ip":[{"id":"07111c38-80e3-44fc-940d-5e54e0a10828","ip_address":"195.154.70.98","lb_id":"deb02a49-e5b9-4c89-883b-e1202c860748","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-23T14:46:28.966444Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.225125ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/deb02a49-e5b9-4c89-883b-e1202c860748/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.838917ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-nervous-goldwasser","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/deb02a49-e5b9-4c89-883b-e1202c860748/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-23T14:46:59.453307116Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-23T14:46:28.801998Z","description":"","frontend_count":0,"id":"deb02a49-e5b9-4c89-883b-e1202c860748","instances":[{"created_at":"2026-02-23T14:36:33.778388Z","id":"bcea00d5-bab3-48a5-8c53-2a1faeff6ab3","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-23T14:46:59.479431340Z","zone":"fr-par-1"}],"ip":[{"id":"07111c38-80e3-44fc-940d-5e54e0a10828","ip_address":"195.154.70.98","lb_id":"deb02a49-e5b9-4c89-883b-e1202c860748","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-98.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-23T14:46:31.425668Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-nervous-goldwasser","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-23T14:46:59.453307116Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.070416ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c
        method: GET
      response:
        body: '{"created_at":"2026-02-23T14:46:59.453307Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-distracted-bartik","inbound_port":80,"backend_id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/deb02a49-e5b9-4c89-883b-e1202c860748/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-23T14:46:59.453307Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-23T14:46:28.801998Z","description":"","frontend_count":1,"id":"deb[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-keen-bhaskara","inbound_port":80,"backend_id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/7f15a528-0d3b-476d-9a4d-7eb1f74b9306
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-23T14:46:59.453307Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/7f15a528-0d3b-476d-9a4d-7eb1f74b9306/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.542875ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"7f15a528-0d3b-476d-9a4d-7eb1f74b9306","backend_id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","created_at":"2026-02-23T14:47:01.560051293Z","frontend_id":"7f15a528-0d3b-476d-9a4d-7eb1f74b9306","id":"2b2e166f-63a9-4a23-8d00-532d9f48b326","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-23T14:47:01.560051293Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.116917ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/2b2e166f-63a9-4a23-8d00-532d9f48b326
        method: GET
      response:
        body: '{"backend_id":"bf07ef89-7ee3-482c-b2ff-8b6d0f9eee2c","created_at":"2026-02-23T14:47:01.560051Z","frontend_id":"7f15a528-0d3b-476d-9a4d-7eb1f74b9306","id":"2b2e166f-63a9-4a23-8d00-532d9f48b326","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-23T14:47:01.560051Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.973917ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/deb02a49-e5b9-4c89-883b-e1202c860748?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 291.994167ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/deb02a49-e5b9-4c89-883b-e1202c860748
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.515625ms
[...]
